<h3 class="boiseStateEventHeader">How to Register / Refunds?</h3>
<p>
    All trips will be on a first-to-pay basis and sell out quickly. To secure a place in a workshop/seminar the participant must visit the Outdoor Program or register online to pre-pay the registration fee. There will be no refunds unless the trip is canceled by the administrative staff due to low enrollment or unsafe conditions at the trip location.  If for some reason you may no longer attend the trip you may find someone to go in your place.
</p>
<h3 class="boiseStateEventHeader">Who Leads Outings?</h3>
<p>
    Our adventure trips and clinics are lead by students, faculty, staff, and alumni who have a passion for the outdoors and a desire to share it. Outdoor Program instructors are experienced and trained to provide positive and exciting lifelong adventures.
</p>
<h3 class="boiseStateEventHeader">Equipment/Food/Transportation</h3>
<p>
    Each trip includes group technical equipment and some personal gear such as sleeping bag, pad, and backpack. You provide personal gear which includes items such as a clothing, boots, personal medication, etc. Information on equipment rentals is provided at the pre-trip meeting or can be received by calling the Outdoor Program at (208) 426-1946. The group will travel in university vehicles for all off campus trips.
</p>
<h3 class="boiseStateEventHeader">Mandatory Pre-Trip Meetings</h3>
<p>
    Pre-trip meetings are where the tone and expectations of the trip begins to form. They provide participants the opportunity to meet each other and start building the group for the upcoming experience. These meetings are also important for providing all detailed information on equipment, schedule, food menu, and course dynamics. All trip participants are required to attend a pre-trip meeting. Outdoor Program makes every effort to hold pre-trip meetings at times that are convenient for most students. If a legitimate excuse arises (class) you must schedule an appointment to meet with the Trip Manager prior to the pre-trip meeting. Failure to attend the pre-trip meeting will forfeit your spot and your fees. More information about Pre-Trip Meetings.
</p>
<h3 class="boiseStateEventHeader">Trip Fees</h3>
<p>
    The trip fees are intended to pay for: trip planning and development, food, transportation campground fees, maps, misc. supplies, use of group gear as needed and available (stoves, water filters, and first aid and cook kits), trip leadership and facilitation by our experienced and knowledgeable outings staff.
</p>
<h3 class="boiseStateEventHeader">Release of Liability/Waiver Claims</h3>
<p>
    Each participant is required to review and acknowledge the risks of being involved in outdoor adventures. A Release of Liability form must be completed by every participant prior to an excursion or activity. There will be no exceptions for individuals who have not completed a Release of Liability form. Notes written by a participant will not be accepted as a Release of Liability. In the event that a participant is a minor, they must have the Release of Liability form completed by their parent or legal guardian.
</p>